<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--CRM Online-->
    <add name="CRMOL" connectionString="Url=https://makmakesifpossible.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
  </connectionStrings>
</configuration>
